*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container{
    background-image: url(/image/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-family: Noto Sans Pau Cin Hau;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mini-container{
    background-color: white;
    width: 370px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image1{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
  }

  .semi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .order h1{
    letter-spacing: 0.15px;
    width: 100%;
  }
  .order p{
    margin-top: 20px;
    opacity: 0.5;
    font-size: 17px;
  }
  .annual{
    background-color:  hsl(225, 100%, 98%);
    border-radius: 10px;
    width: 330px;
    margin-top: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .price{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .link{
    font-size: 18px;
    font-weight: 600;
  }

  .plan{
    font-size: 20px;
    line-height: 1.1;
  }

  span{
    opacity: 0.5;
    font-size: 18px;
  }

  .boldtext{
    font-weight: bold;
  }
  
  .links{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     margin: 30px;
  }

  .btn1{
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    text-align: center;
    background-color: hsl(245, 75%, 52%);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 330px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .btn2{
    margin-top: 15px;
    text-decoration: none;
    opacity: 0.5;
    font-size: 18px;
  }

@media (max-width: 375px){
  .main-container{
    background-image: url(/image/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(224, 23%, 55%);
    height: 100vh;

  }
    .mini-container{
      width: 300px;
    }

    .semi{
      margin-top: 20px;
    }

    .annual{
      width: 270px;
      margin-top: 15px;
      padding: 15px;
    }
    .link{
      font-size: 15px;
      font-weight: 600;
    }

    .order h1{
      font-size: 25px;
      font-weight: 700;
    }
    .order p{
      opacity: 0.5;
      font-size: 13px;
      margin-top: 10px;
    }
  
    .plan{
      font-size: 15px;
      line-height: 1.1;
    }
    .price{
      width: 65%;
    }
    .btn1{
      width: 270px;
      margin-top: -10px;
    }
  
    .btn2{
      margin-top: 10px;
      font-size: 15px;
    }
}
  